/*重製樣式
可能內建的標籤會影響排版所以全部重製
大概是這樣
*/
*{
    margin: 0;
    padding: 0;
}
#header{
    width: 990px;
    height: 100px;
    background: white;
    margin: 0 auto;
}
#header .logo{
    width: 249px;
    height: 31px;
    background: blue;
    float: left;
    margin: 39px 0px 31px 19px;
}
#header .search{
    width: 230px;
    height: 31px;
    background: red;
    float: right;
    margin: 39px 20px 31px 0px;
    border:1px solid #fefefe;
}
#header .search .text{
    height: 31px;
    width: 188px;
    border: none;
    float: left;
    padding-left: 16px;
    font-size: 10px;
    background: red;
}
#header .search .bt{
    height: 31px;
    border:none;
    width: 26px;
    float: left;
}
#nav{
    width: 990px;
    height:60px;
    background: blue;
    margin: 0 auto;
 }
#banner{
    width: 990px;
    height:464px;
    background: purple;
    margin: 0 auto;
}
#news{
    width: 990px;
    height:547px;
    background: green;
    margin: 0 auto;
}
#footer{
    width: 990px;
    height:332px;
    background: gray;
    margin: 0 auto;
}